@model Recipe

@{
    <div class="row">
        <div class="col">
            <h1 class="m-3">@Model.Title</h1>
            <h3 class="m-3">By @Model.SourceName</h3>
            <h4 class="m-3">Ready in @Model.ReadyInMinutes minutes</h4>
            <div class="m-3">
                @Html.Raw(Model.Summary)
            </div>
            <h4 class="m-3">Ingredients</h4>
            <ul class="m-3">
                @{
                    foreach (Ingredient ingredient in Model.Ingredients)
                    {
                        <li style="text-transform: capitalize">@ingredient.Name,  @ingredient.Quantity</li>
                    }
                }
            </ul>
            <button class="btn btn-primary m-3"><a class="text-white text-decoration-none" asp-controller="Home" asp-action="Index">FIND A DIFFERENT RECIPE</a></button>
        </div>
        <div class="col">
            <img class="d-inline-block mt-5" src="@Model.ImageSource" />
            <h4 class="m-3">Instructions</h4>
            <div class="m-3">
                @Html.Raw(Model.Instructions)
            </div>
        </div>
    </div>
}